
.grid {
  @include e(col) {
    @include colors($grid-colors);
  }
  &__row {
    padding: 16px;
    @include mq(medium) {
      @include flex (space-around);
    }
  }
}

[class^="grid__col--"] {
  width: 100%;
  padding: 10px;
  border-radius: $b-radius;
  color: $dark-font;
  margin-top: 12px;
  margin-bottom: 12px;
}

.grid__col {
  @include mq(medium) {
    @include g-columns;
  }
}

.container {
  width: 90%;
  margin: 40px auto;
}
